<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tababsenapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Fitur.HalamanNotificationList.HalamanNotificationListActivity"></activity>
        <activity android:name=".Fitur.HalamanHome.WaliMurid.HalamanHomeWaliMuridActivity" />
        <activity android:name=".Fitur.HalamanHome.Pengajar.HalamanHomePengajarActivity" />
        <activity android:name=".Fitur.HalamanHome.Admin.HalamanHomeAdminActivity" />
        <activity
            android:name=".Fitur.HalamanLogin.HalamanLoginActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Fitur.HalamanUtama.MainActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>