<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.its.bigstars">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- permission untuk google maps api -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.Data.Kelas.Edit.DataKelasEditActivity"></activity>
        <activity android:name=".Activities.Data.Kelas.List.DataKelasListActivity" />
        <activity android:name=".Activities.Data.Kelas.Add.DataKelasAddActivity" />
        <activity android:name=".Activities.Absensi.Detail2.AbsensiDetail2Activity" />
        <activity android:name=".Activities.Absensi.Detail1.AbsensiDetail1Activity" />
        <activity android:name=".Activities.Data.MataPelajaran.Add.DataMataPelajaranAddActivity" />
        <activity android:name=".Activities.Data.MataPelajaran.Edit.DataMataPelajaranEditActivity" />
        <activity android:name=".Activities.Data.MataPelajaran.List.DataMataPelajaranListActivity" />
        <activity android:name=".Activities.Data.WaliMurid.Add.DataWaliMuridAddActivity" />
        <activity android:name=".Activities.Data.WaliMurid.Edit.DataWaliMuridEditActivity" />
        <activity android:name=".Activities.Data.WaliMurid.List.DataWaliMuridListActivity" />
        <activity android:name=".Activities.Data.Murid.Edit.DataMuridEditActivity" />
        <activity android:name=".Activities.Data.Murid.Add.DataMuridAddActivity" />
        <activity android:name=".Activities.Data.Murid.List.DataMuridListActivity" />
        <activity android:name=".Activities.Data.Pengajar.Add.DataPengajarAddActivity" />
        <activity android:name=".Activities.Data.Pengajar.Edit.DataPengajarEditActivity" />
        <activity android:name=".Activities.Data.Pengajar.List.DataPengajarListActivity" />
        <activity android:name=".Activities.Akun.Pengajar.AkunPengajarActivity" />
        <activity android:name=".Activities.Akun.Admin.AkunAdminActivity" /> <!-- untuk api ID google -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAAPUvdjy8dcI9skIiiYgWcc3jjKo8UIjM" />

        <activity
            android:name=".Activities.Home.Pengajar.HomePengajarActivity"
            android:theme="@style/AppThemeHome" />
        <activity
            android:name=".Activities.Home.Admin.HomeAdminActivity"
            android:theme="@style/AppThemeHome" />
        <activity android:name=".Activities._Login.LoginActivity" />
        <activity android:name=".Activities._Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>