<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tababsensiapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.Admin.Kelas.Data.Kelas.AdminKelasDataKelasActivity"></activity>
        <activity android:name=".Activities.Admin.Kelas.Tambah.AdminKelasTambahActivity" />
        <activity android:name=".Activities.Admin.Kelas.Tampil.Kelas.AdminKelasTampilKelasActivity" />
        <activity android:name=".Activities.Admin.Kelas.Tampil.Pengajar.AdminKelasTampilPengajarActivity" />
        <activity android:name=".Activities.Admin.AkunSaya.AdminAkunSayaActivity" />
        <activity android:name=".Activities.Admin.Murid.Edit.Step2.AdminMuridEditStep2Activity" />
        <activity android:name=".Activities.Admin.Murid.Edit.Step1.AdminMuridEditStep1Activity" />
        <activity android:name=".Activities.Admin.Murid.Tambah.Step2.AdminMuridTambahStep2Activity" />
        <activity android:name=".Activities.Admin.Murid.Tambah.Step1.AdminMuridTambahStep1Activity" />
        <activity android:name=".Activities.Admin.Murid.Tampil.AdminMuridTampilActivity" />
        <activity android:name=".Activities.Admin.WaliMurid.Edit.AdminWaliMuridEditActivity" />
        <activity android:name=".Activities.Admin.WaliMurid.Tambah.AdminWaliMuridTambahActivity" />
        <activity android:name=".Activities.Admin.WaliMurid.Tampil.AdminWaliMuridTampilActivity" />
        <activity android:name=".Activities.Admin.MataPelajaran.Edit.AdminMataPelajaranEditActivity" />
        <activity android:name=".Activities.Admin.MataPelajaran.Tambah.AdminMataPelajaranTambahActivity" />
        <activity android:name=".Activities.Admin.MataPelajaran.Tampil.AdminMataPelajaranTampilActivity" />
        <activity android:name=".Activities.Admin.Pengajar.Edit.AdminPengajarEditActivity" />
        <activity android:name=".Activities.Admin.Pengajar.Tambah.AdminPengajarTambahActivity" />
        <activity android:name=".Activities.Admin.Pengajar.Tampil.AdminPengajarTampilActivity" />
        <activity
            android:name=".Activities.Admin.Home.AdminHomeActivity"
            android:theme="@style/AppThemeHome" />
        <activity android:name=".Activities._Login.LoginActivity" />
        <activity android:name=".Activities._Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>